/*

    author: Titas Acharjee;
    website:----;
    mail: Pranto.ach@gmail.com;

*/

/*
    ===index===

    1.Header
    2.Fusce at
    3.Facilisis
    4.Ante donec
    5.Blandit rhoncus 
    6.Placerat
    7.footer

*/

/* Themse CSS*/

/* Global CSS */

*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Roboto Slab', serif;
}

.logo {
  width: 158px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.menu-bar {
  color: #000;
  font-size: 20px;
  margin: 0px 17px;
}

.banner-menu-khan{
  background-color: #edeff1;
  position: fixed;
  width: 100%;
  z-index: 9999;

}

.banner{
  background: url(../img/banner.jpg)no-repeat;
  background-size: cover;
}

.banner-text {
  color: #fff;
  text-align: center;
  margin-top: 377px;
}

.banner-img {
  margin-top: 130px;
}

.banner-img img {
  margin: 0 auto;
  display: block;
}


.banner-img h3{
  color: #fff;
  text-align: center;
  margin: 30px 0px;
}

.banner-img p{
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}

.banner-btn {
  padding: 10px 40px;
  color: #612316;
  font-size: 18px;
  border-radius: 83px;
  border: none;
  transition: 0.4s ease-in-out;
  margin-bottom: 139px;
  margin-left: 470px;
}

.banner-btn:hover{
  background: #612316;
  color: #fff;
}

.our-newss h2{
  text-align: center;
  margin-top: 82px;
  margin-bottom: 85px;
}

.our-news-img-t{

}

.our-news-img-t img{
  width: 371px;
}

.our-news-img-t h3 {
  margin-top: 40px;
  text-align: center;
  font-weight: 800;
}

.our-news-img-t h5{
  text-align: center;
  color: #31353e;
}

.our-btn {
  padding: 10px 40px;
  color: #612316;
  font-size: 18px;
  border-radius: 83px;
  border: none;
  transition: 0.4s ease-in-out;
  margin-top: 38px;
  margin-left: 29%;
  margin-bottom: 104px;
}

.our-btn:hover{
  background: #612316;
  color: #fff;
}

.newslatters{
  background: url(../img/newsletter.jpg)no-repeat;
  background-size: cover;
}

.newsletter-txt{
  margin-top: 90px;
  text-align: center;
}

.newsletter-txt h3 {
  color: #000;
  font-weight: 800;
}

.newsletter-txt p {
  width: 619px;
  margin-left: 233px;
  margin-bottom: 45px;
}

.news-in-bt {
  margin-left: 308px;
}

.news-in-bt input {
  width: 551px;
  margin: 0 auto;
  display: block;
  border: 1px solid #aaacad;
  background: transparent;
  border-radius: 71px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 28px;
  position: absolute
}

.news-in-bt input::placeholder{
  color: #004de7;
  font-size: 18px;
}



.news-in-bt button {
    padding-top: 18px;
    position: relative;
    padding-bottom: 15px;
    width: 214px;
    font-size: 18px;
    color: #612316;
    border-radius: 61px;
    border: 1px solid #aaacad;
    background: #fff;
    margin-left: 336px;
    margin-bottom: 50px;
    transition: 0.4s ease-in-out;
}

.news-in-bt button:hover{
  background: #612316;
  color: #fff;
}



.amet-s-one {

}

.amet-s-one h2 {
  margin-top: 121px;
  font-size: 30px;
  font-weight: 800;
}

.amet-s-one p {
  font-weight: 300;
  width: 544px;
  font-size: 15px;
}



.amet-s-one img {
  width: 520px;
  height: 306px;
  margin-top: 64px;
}

.amet-s-one-btn {
  padding-top: 9px;
  padding-bottom: 11px;
  font-size: 18px;
  color: #fff;
  border-radius: 61px;
  border: 1px solid #aaacad;
  background: #dd4b2b;
  transition: 0.4s ease-in-out;
  margin-top: 15px;
  width: 209px;
}

.amet-s-one-btn:hover{
  background: #4b4e73;
  color: #fff;
}

.amet-s-two {

}

.amet-s-two h2 {
  margin-top: 121px;
  font-size: 30px;
  font-weight: 800;
}

.amet-s-two p {
  font-weight: 300;
  width: 544px;
  font-size: 15px;
}

.amet-s-two img {
  width: 520px;
  height: 306px;
  margin-top: 64px;
  margin-bottom: 90px;
}

.amet-s-two-btn{
  padding-top: 9px;
  padding-bottom: 11px;
  font-size: 18px;
  color: #fff;
  border-radius: 61px;
  border: 1px solid #aaacad;
  background: #4b4e73;
  transition: 0.4s ease-in-out;
  margin-top: 15px;
  width: 209px;
}

.amet-s-two-btn:hover{
  background: #dd4b2b;
  color: #fff;
}

.gallary{
  background-color: #d75d0e;
}

.gallery-txt ul{
  margin-top: 96px;
  margin-bottom: 75px;
  text-align: center;
}

ul li{
  list-style: none;
}

.gallery-fotter{
  background: url(../img/footer.jpg)no-repeat;
  background-size: cover;
  
}

.gallery-footer-s p {
  color: #fff;
  width: 650px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 53px;
  margin-left: 263px;
  color: #000;
}

.gallery-footer-s p span{
  font-weight: 700;
}


















































/* small Device */

@media (min-width: 120px)  and (max-width:575.98px){

  .menu-bar{
    font-weight: 900;
}

.menu{
  font-size: 20px;
  text-align: center;
}

.banner-text {
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.banner-img {
  margin-top: 50px;
}

.banner-btn {
  margin-left: 132px;
  margin-bottom: 69px;
}

.our-news-img-t img {
  width: 371px;
  margin: 0 auto;
  display: block;
}

.newsletter-txt p {
  width: 442px;
    margin-left: 0px;
  margin-bottom: 45px;
}

.news-in-bt input {
  width: 449px;
  border: 1px solid #aaacad;
  background: transparent;
  border-radius: 71px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 28px;
  position: absolute;
  margin-left: -310px;
}

.news-in-bt button {
  padding-top: 18px;
  position: relative;
  padding-bottom: 15px;
  width: 214px;
  font-size: 18px;
  color: #612316;
  border-radius: 61px;
  border: 1px solid #aaacad;
  background: #fff;
  margin-left: -76px;
  margin-bottom: 50px;
  transition: 0.4s ease-in-out;
}

.amet-s-one h2 {
  margin-top: 56px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.amet-s-one p {
  font-weight: 300;
  width: 453px;
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 28px;
}

.amet-s-one-btn {
  padding-top: 9px;
  padding-bottom: 11px;
  font-size: 18px;
  color: #fff;
  border-radius: 61px;
  border: 1px solid #aaacad;
  background: #dd4b2b;
  transition: 0.4s ease-in-out;
  width: 209px;
  margin: 0px auto;
  display: block;
}

.amet-s-two h2 {
  margin-top: -49px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.amet-s-two p {
  font-weight: 300;
  width: 446px;
  font-size: 15px;
  text-align: center;
}

.amet-s-two-btn {
  padding-top: 9px;
  padding-bottom: 11px;
  font-size: 18px;
  color: #fff;
  border-radius: 61px;
  border: 1px solid #aaacad;
  background: #4b4e73;
  transition: 0.4s ease-in-out;
  width: 209px;
  margin: 20px auto;
  display: block;
}

.gallery-txt ul{
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}

.gallery-footer-s p {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 20px;
  margin-left: -13px;
  color: #000;
  width: 465px;
  font-size: 15px;
}

}

@media (min-width: 576px) and (max-width: 767.98px) { 
  
     }


@media (min-width: 768px) and (max-width: 991.98px) { 
  
  
     
  }


@media (min-width:992px) and (max-width:1199.98px) {
 
}